<main>
  <div class="buttons">
    <button (click)="selectedButton = 1">Кнопка 1</button>
    <button (click)="selectedButton = 2">Кнопка 2</button>
    <button (click)="selectedButton = 3">Кнопка 3</button>
  </div>
  <div [ngSwitch]="selectedButton">
    <div class="block" *ngSwitchCase="1">
      {{texts[0] | uppercase}}
    </div>
    <div class="block" *ngSwitchCase="2">
      {{texts[1] | lowercase}}
    </div>
    <div class="block" *ngSwitchCase="3">
      {{texts[2]}}
    </div>
  </div>
</main>
